div.container .main {
  max-width: 1020px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 550px;
  background: linear-gradient(305.98deg, #52179A 0%, #B525B8 98.21%);
  border-radius: 15%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
}

@media only screen and (max-width: 450px) {
  div.container .main {
    margin: 0;
    border-radius: 10%;
    width: 100vmin;
    height: 90vmax;
  }
}

div.container .main h1 {
  letter-spacing: 0.3rem;
  margin-top: 40px;
  font-size: 3rem;
  color: #FFFFFF;
}

div.container .main span {
  margin-top: 15px;
  font-weight: bold;
  font-size: 3rem;
  line-height: 4.2rem;
  color: #FFFFFF;
}

@media only screen and (max-width: 350px) {
  div.container .main h1 {
    letter-spacing: 0.05rem;
    margin-top: 20px;
    font-size: 2rem;
  }
  div.container .main span {
    margin-top: 7px;
    font-size: 2rem;
    line-height: 2.2rem;
  }
}

div.container .main .player {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player .big {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.player .big div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 114.3px;
  border-radius: 50%;
  background: linear-gradient(316.39deg, #F95FFF 0%, #FFBF00 100%);
}

.player .big div svg {
  cursor: pointer;
  fill: white;
  transition: 0.3s;
}

.player .big div svg:hover {
  opacity: 0.5;
}

#play {
  margin-left: 10px;
}

.player .small {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -18px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.player .small div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(315deg, #F95FFF 0%, #FFC371 100%);
  mix-blend-mode: normal;
  transition: 0.3s;
  opacity: 0.8;
  cursor: pointer;
}

/* Player on mobile */

@media only screen and (max-width: 350px) {
  div.container .main .player {
    margin-top: 10px;
  }
  .player .big {
    height: 100px;
    width: 100px;
  }
  .player .big div {
    width: 100px;
    height: 90px;
  }
  .player .small {
    margin-top: 0px;
    height: 40px;
    width: 40px;
  }
  .player .small div {
    width: 35px;
    height: 35px;
  }
}

.player .small div svg {
  fill: white;
}

.player .small div:hover {
  opacity: 0.5;
}

div.container .main p {
  margin-top: 10px;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #FFFFFF;
}

div.container .main .pomodoro {
  margin-top: 10px;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

div.container .main .section-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 23px;
}

div.container .main .section-time .length {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.container .main .section-time .length div {
  display: flex;
  align-items: center;
}

div.container .main .section-time .length div svg {
  background-color: #25054D;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}

@media only screen and (min-width: 720px) {
  .length div svg:hover {
    opacity: 0.6;
  }
}

.length div input {
  margin: 0 5px;
}

.length.section {
  margin-right: 50px;
}

.length .section {
  margin-top: 15px;
}

.length label {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #FFFFFF;
}

.length div {
  margin-top: 15px;
}

@media only screen and (max-width: 350px) {
  .length div input {
    margin: 0 3px;
  }
  .length.section {
    margin-right: 25px;
  }
  .length p {
    font-size: 1.4rem !important;
    line-height: 0 !important;
  }
  .length div {
    margin-top: 15px;
  }
}

.length input {
  width: 60px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  border: 0;
  color: #D400FF;
  font-weight: 500;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.9rem;
}

@media only screen and (max-width: 350px) {
  .length div input {
    margin: 0 3px;
  }
  .length.section {
    margin-right: 25px;
  }
  .length p {
    font-size: 1.4rem !important;
    line-height: 0 !important;
  }
  .length div {
    margin-top: 15px;
  }
  .length input {
    width: 45px;
    height: 30px;
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.Toastify__toast-container {
  font-size: 2rem;
  font-weight: bold;
}

.Toastify__toast {
  background: #FF9F1C!important;
  background: linear-gradient(270deg, #FF9F1C 0%, #FFC371 75%)!important;
}

