* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none !important;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #25054D;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

